<% if @posts.blank? %>
<p> There are no posts available at this time</p>
<% else %>

<div class="row">
	<% @posts.each do |c| %>

	<div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
		<div class="thumbnail thumb-box">
			<%= link_to (image_tag (c.image(:medium)), :class => "posts img-responsive img-fluid"), {:action => 'show', :id => c.id} %>
			
			<p class="p_desc">
				<h5 class="p_desc_h"><%= c.description %></h5>
			</p>

			<div class="" style="text-align:center;">
				<button type="button" class = "like-btn btn-info" arie-label="Left Align" > 
					<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
					<span class="like-badge"> <%=c.vote %> </span>
				</button>

				<button type="button" class = "dislike-btn btn-info" arie-label="Left Align"> 
					<span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
					<span class="dislike-badge" ><%=c.vote %></span>
				</button>
				
				<a href="#" class="glyphicon glyphicon-share"></a>
			</div>
			
		</div>
	</div>
	<% end %>
</div>

<% end %>