<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Likeport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Share Your U of Manitoba Memes!">
    <meta name="author" content="UofMeme">
    <title>UofMeme</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head>

  <body>
	<header class="navbar navbar-dark bg-warning box-shadow">
		<div class="container d-flex justify-content-between">
        	<a href="#" class="navbar-brand d-flex align-items-center">
				<strong>UofMeme</strong>
				<div class="nav navbar-right">
					<a class="glyphicon glyphicon-home" href="#"> Home</a>
					<a class="glyphicon glyphicon-question-sign" href="#"> Help</a>
					<a class="glyphicon glyphicon-log-in" href="#"> Log in</a>
				</div>
			</a>
	 	</div>		
	</header>
	
	<main role="main">
		<div class="container">
			<%= yield %>
		</div>
	</main>

	<footer class="nav navbar navbar-dark bg-warning box-shadow">
		<div class="container d-flex justify-content-between">
			<a class="glyphicon glyphicon-circle-arrow-up" href="#"> Back to top</a>
			<a class="glyphicon glyphicon-eye-open" href="#"> Report a bug</a>
		</div>
	</footer>

  </body>

</html>
