@import "bootstrap";

header {
    padding-top: 20px;
    padding-bottom: 15px;
}

section {
    overflow: auto;
}

footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 10px solid #f2dba1;
    color: #777;
    position: fixed;
}

footer a{
    color: #555;
}

footer a:hover{
    color: #222;
}

footer h5{
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li{
    float: left;
    margin-left: 15px;
}

.thumbnail {
    padding: 20px;
}


.btn {
    padding: 2px;
}

.p_desc {
    width: auto;
    float: left;
    margin: 5px;
}

.p_desc_h {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.glyphicon {
    margin: 10px;
    padding: 5px;
}

#voting-div {
    position: relative;
    
}

.full-width {
    width: 100%;
  }

