<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">UofMeme</h1>
    <p class="lead text-muted">UofMeme is an application that allows students and employees of the University of Manitoba to create and share memes with each other. This application encourages users to express themselves creatively and reduce stress or anxiety through the use of humour.</p>
    <p>
      <%= link_to "Upload Meme Now!", new_post_path, class: "btn btn-primary my-2" %>
    </p>
  </div> 
</section>

<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <% if @posts.blank? %>
        <p> There are no posts available at this time</p>
      <% else %>
        <% @posts.each do |c| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">

        <%= link_to (image_tag (c.image(:medium))), {:action => 'show', :id => c.id}, class: "card-img-top" -%>
        <br><br>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

