<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Likeport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Share Your U of Manitoba Memes!">
    <meta name="author" content="UofMeme">
    <title>UofMeme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-dark bg-warning box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>UofMeme</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
